/* General styles */
.section {
    background: linear-gradient(to bottom, #fff, #ff725c); /* Gradient background */
}

.about-content {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    margin-top: 2vh;
}

.about-text {
    margin-bottom: 30px;
}

.about-text h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333; 
}

.about-text p {
    font-size: 23px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-icons {
    display: flex;
    justify-content: center;
    
}

.tooltip-container {
    position: relative;
    margin: 0 10px; 
}

.tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8); 
    color: #333; 
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-container:hover .tooltip {
    opacity: 1;
    visibility: visible;
}


.contact-icons img {
    width: 60px;
    height: 60px;
}


@media screen and (max-width: 768px) {
    .contact-info p {
        font-size: 18px; 
    }
}

