#capabilities {
    background: linear-gradient(to bottom, #89e5b7, #ff725c);
    text-align: center;
     
}

#capabilities h2 {
    margin-bottom: 50px;
    font-size: 50px;
}
.capabilities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 20px 20px; 
}

.capability {
    width: calc(30% - 20px); 
    height: 12vh;
    background-color: #fff; 
    color: #000; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.capability:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.capability h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.capability p {
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.capability:hover p {
    opacity: 1;
}

@media screen and (max-width: 576px) {
    .capability {
        width: 80%; 
        height: auto;
    }

    .capability h3 {
        font-size: 1.5rem; 
    }

    .capability p {
        font-size: 1rem; 
        opacity: 1; 
    }
}